{% extends 'teacher_templates/base_template.html' %}
{% block page_title %}
Edit Course | Course ID : {{ id }}
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Course</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    {% url 'teacher_edit_course_save' as action_path %}
                    {% include 'hod_templates/form_template.html' with messages=messages form=form action_path=action_path button_text="Edit Course" %}
                    <!-- /.card -->
                </div>
            </div>
        </div>
</section>
<!-- /.content -->
{% endblock main_content %}